body {
    background: var(--mainbackground);
}

:root {
    --mainbackground: #78909c;
    --componentbackground: #313534;
    --white: #fff;
    // --white:rgb(233, 232, 228);
    --tear: #009688;
    --orange: #f45b69;
    --dark1: #252827;
    --dark3: #335666;
    --codeclass: #c56625; 
}